/* 
    Created on : Oct 10, 2015, 5:55:35 PM
    Author     : tim
*/

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans', sans-serif;
    overflow: hidden;
    background-color: #FFF;
}
#paper {
    position: relative;
    top: -256px;
    left: -256px;
}

#offset-label {
    font-size: 0.6em;
}

body:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

body:fullscreen {
    width: 100%;
    height: 100%;
}


#dummyImage {
    visibility: hidden;
}

.sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 4em;
    height: 100%;
    background-color: #464646;
    color: #FFF;
    font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    text-align: center;
    box-shadow: #464646 0px 0px 20px;
}

.active {
    text-shadow: 1px 1px 10px #0099ff;
}

.panel-tool {
    font-size: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    color: #0099ff
}


.tool {
    font-size: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.colorbutton {
    margin-top: 1em;
    text-shadow: 1px 1px 10px #ffffff;
    color: rgba(0, 0, 0, 0.6);
    font-size: 3em; 
}

.colourpicker input[type='color']{
    background-color: #464646;
    border: none;
    padding: 0px;
    height: 3.5em;
    width: 4em;
}

.panel {
    background-color: #363636;
    width: 20em;
    height: auto;
    box-shadow: #363636 1px 1px 10px; 
}

#cursors {
    position:relative;
    pointer-events: none; /* the irony */
}

#cursors .cursor {
    position:absolute;
    width:15px;
    height:22px;
    background:url('../images/pointer.png') no-repeat -4px 0;
    z-index: 8;
}

/*********
* get responsive */
@media only screen and (max-width: 500px) {
    .sidebar {
        left: initial;
        top: initial;
        bottom: 0px;
        height: 3em;
        width: 100%;
        right: 0px;
    }

    .sidebar div {
        float: left;
        margin-left: 1em;
    }

    .sidebar .panel {
        position: relative;
        top: -14em;
    }
    .fullscreen {
        display: none;
    }
}